/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

#form1 {

display:none;

}

.container {
	text-align:center; 
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}

.container input {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}

.container textarea{
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}